# But not these files...
!.gitignore
!*.py

# ...even if they are in subdirectories
!*/

# Ignore Python bytecode files
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore specific directories
backup/
chroma/
__pycache__/